<template>
  <div>
    <div ref="gallery">
      <div class="swiper-wrapper">
        <img class="swiper-slide" src="http://placekitten.com/200/300" />
        <img class="swiper-slide" src="http://placekitten.com/200/300" />
        <img class="swiper-slide" src="http://placekitten.com/200/300" />
        <img class="swiper-slide" src="http://placekitten.com/200/300" />
        <img class="swiper-slide" src="http://placekitten.com/200/300" />
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white" />
      <!-- Add Arrows -->
      <div class="swiper-button-next swiper-button-white" />
      <div class="swiper-button-prev swiper-button-white" />
    </div>
  </div>
</template>

<script>
import swiper, { Navigation, Pagination } from "swiper";
const Swiper = swiper;
Swiper.use([Navigation, Pagination]);

export default {
  name: "swipertest",
  data: () => ({
    slider: null,
    activeIndex: 0,
    swiperOptions: {
      spaceBetween: 30,
      effect: "fade",
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      }
    }
  }),
  mounted() {
    this.$nextTick(() => {
      this.slider = new Swiper(this.$refs.gallery, this.swiperOptions);
      this.slider.on("slideChange", ({ realIndex }) => {
        this.activeIndex = realIndex;
      });
    });

    this.$once("hook:destroyed", function() {
      if (this.slider) this.slider.destroy();
    });
  }
};
</script>

<style lang="postcss">
@import "swiper/swiper-bundle.css";
@import "swiper/swiper-bundle.min.css";
</style>
