<template>
  <div>
    <Nuxt />
    <ImageSliderSingle />
  </div>
</template>

<script>
import ImageSliderSingle from "~/components/ImageSliderSingle";
export default {
  components: {
    ImageSliderSingle
  }
};
</script>
